body {
 font-family: 'Montserrat', sans-serif;
}

* {
  box-sizing: border-box;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

[class*="col-"] {
  float: left;
  padding: 15px;
}

.btn {
  width: 100%;
  background-color: #004C7C;
  border-style: none;
  border-radius: 5px 5px 5px 5px;
  height: 40px;
  margin-top: 15px;
}

.btn:hover {
  background-color: #00263E;
  cursor: pointer;
}

.btn p{
  text-align: center;
  padding: 11px 0px 0px 0px;
  color: white;
  font-weight: 500;
}

h3 {
  margin-top: 5px;
  margin-bottom: 12px;
}

h1 {
  padding-top: 30px;
  text-align: center;
}

.left {
text-align:left;
}

.right {
  float:right;
  font-weight: 500;
}

.pkg-1 p {
  margin-top: 5px;
  margin-bottom: 5px;
}

.pkg-2 p {
  margin-top: 5px;
  margin-bottom: 5px;
}

.accordion p {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
}

@media only screen and (max-width: 768px) {
/* For mobile phones: */
[class*="col-"] {
  width: 90%;
}

.row {
  padding: 0;
  margin: 0;
}

.pkg-1 {
  border-style: none;
  border-radius: 10px;
  box-shadow: 0 3px 15px 0 rgba(0, 0, 0, 0.1);
  margin: 0px 0px 25px 5%;
}

.pkg-2 {
  border-style: none;
  border-radius: 10px;
  box-shadow: 0 3px 15px 0 rgba(0, 0, 0, 0.1);
  margin: 0px 0px 25px 5%;
}

.spacer-delete {
  margin: 0;
  padding: 0;
}
/* Style the buttons that are used to open and close the accordion panel */
.accordion {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 110%;
  text-align: left;
  border: none;
  outline: none;
  transition: 0.4s;
  border-radius: 10px;
  margin-left: 4px;
  margin-bottom: 15px;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .accordion:hover {
  background-color: #ccc;
}

/* Style the accordion panel. Note: hidden by default */
.panel {
  padding: 0 18px;
  background-color: white;
  display: none;
  overflow: hidden;
  margin: 0px 0px 10px 0px;
}
}

@media only screen and (min-width: 768px) {
  /* For desktop: */
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

h1 {
  margin-bottom: 50px;
}

.faq {
  margin: 0px 0px 0px -10px;
}

.pkg-1 {
  border-style: none;
  border-radius: 10px;
  box-shadow: 0 3px 15px 0 rgba(0, 0, 0, 0.1);
  margin: 0px 0px 20px -20px;
}

.pkg-2 {
  border-style: none;
  border-radius: 10px;
  box-shadow: 0 3px 15px 0 rgba(0, 0, 0, 0.1);
  margin: 0px 0px 20px 20px;
}

/* Style the buttons that are used to open and close the accordion panel */
.accordion {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  text-align: left;
  border: none;
  outline: none;
  transition: 0.4s;
  margin: 0px 0px 10px 0px;
  border-radius: 10px;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .accordion:hover {
  background-color: #ccc;
}

/* Style the accordion panel. Note: hidden by default */
.panel {
  padding: 0 18px;
  background-color: white;
  display: none;
  overflow: hidden;
  margin: 0px 0px 10px 0px;
}

}
